*{
    padding: 0;
    margin: 0;
}

/* el diseño lo se está trabajndo en una pantalla de 1024 pixeles de ancho y 768 de alto */


/*Diseño del Nav*/
.container-nav{
    width: 100%;
    height: 14vh;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(59, 59, 59);
    position: relative;
    /* outline: solid 1px red; */
}

/*Style nav*/
.about-hotel{
    width: 100%;
    height: 100%;
    outline: 2px solid rgb(1, 0, 3); 
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-items: center;
}

.about-hotel h2{
    width: 15%;
    text-align: center;
    color: white;
    font-size: 23px;
    margin-left:8%;
}

.section-about-hotel{
    width: 80%;
    display: flex;
    margin-left: 8%;
    gap: 5%;
}

.section-about-hotel a{
    position: relative;
    text-decoration: none;
    color: white;
    margin-top: 1%;
    font-size: 20px;
}

/* animacion enlaces */

.section-about-hotel a::before, 
.section-about-hotel a::after {
    border-bottom: 3px solid #82644c;
    content: "";
    position: absolute;
    transition: ease-in-out 1s;
    opacity: 0;
    transition: 0.8s;
}

.section-about-hotel a::before {
    width:90% ;
    bottom: -0px;
    right: 0;
    
}
.section-about-hotel a::after {
    width: 60%;
    bottom: -6px;
    left: 0;
}

.section-about-hotel a:hover::before {
    opacity: 1;
    width: 70%;
}
.section-about-hotel a:hover::after {
    opacity: 1;
    width: 40%;
}

.section-about-hotel button{
    width: 25%;
    background-color: #25d366;
    color: white;
    padding: 7px 1px 7px 1px;
    outline: #25d366;
    font-size: 20px;
    margin-left: 5%;
    font-weight: 700;
}


/*Diseño del Main*/